@use "../general" as *;

.btn-primary {
    background-color: #ff0;
    border-color: #ff0;
    color: #0e0d0d;
    @include transition(all, 0.3s);

    &:hover,
    &:focus {
        background-color: #0e0d0d;
        border-color: #0e0d0d;
        color: #ff0;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}