@use "../general" as *;

/* -- Estilos para casamiento --*/

.invitaciones-bodas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 100px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2px;
}

.card {
    border: 3px solid rgba(241, 238, 47, 0.904);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    width: 350px;
    max-width: 350px;
    @include transition(transform, 1s);

    &:hover {
        transform: scale(1.05);
    }

    .card-img-top {
        width: 100%;
        height: auto;
        border-radius: 15px 15px 0 0;
    }

    .card-body {
        text-align: center;
        padding: 20px;

        .card-title {
            color: $font-color;
            margin-bottom: 10px;
            font-size: 1.5rem;
        }

        .card-text {
            color: $white-color;
            margin-bottom: 15px;
            font-size: 1rem;
        }
    }
}

/* Estilo para el botón */

.btn-primary {
    background-color: $font-color;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}

/* Estilos css para cumpleaños */

.invitaciones-cumple {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;

    .invitacion {
        border: 3px solid rgba(224, 238, 23, 0.911);
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 15px;
        margin: 10px;
        max-width: 350px;
        text-align: center;
        @include transition(transform, 1s);

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 100%;
            height: auto;
            max-width: 350px;
            border-radius: 10px;
        }

        h2 {
            color: $font-color;
            margin: 10px 0;
        }

        p {
            color: $white-color;
            margin: 10px 0;
        }
    }
}

/* -- Estilos para comunion --*/

.invitaciones-comunion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;

    .invitacion-2 {
        border: 3px solid rgba(224, 238, 23, 0.911);
        border-radius: $border-radius;
        background-color: rgba(58, 58, 58, 0.7);
        padding: 15px;
        margin: 20px;
        max-width: 350px;
        text-align: center;
        @include transition(transform, 1s);

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 100%;
            height: auto;
            max-width: 350px;
            border-radius: $border-radius;
        }

        h2 {
            color: $font-color;
            margin: 10px 0;
        }

        p {
            color: $white-color;
            margin: 10px 0;
        }
    }
}