@use "../general" as *;

.navbar {
    background-color: $background-color;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 25px 0;
    border-radius: 8px;
    border: 1px solid $font-color;

    .navbar-brand {
        color: $font-color;
        font-size: 24px;
        font-weight: bold;
        align-items: center;
        justify-content: space-between;

        &:hover {
            transform: scale($hover-scale);
        }
    }

    .navbar-nav .nav-link {
        color: $white-color;
        margin: 0 10px;
        font-size: 16px;
        @include transition(color, 0.3s);

        &:hover {
            color: $font-color;
            transform: scale($hover-scale);
        }
    }

    .dropdown-menu {
        background-color: $background-color;

        .dropdown-item {
            color: $white-color;

            &:hover {
                background-color: $background-color;
                color: $font-color;
                transform: scale($hover-scale);
            }
        }
    }

    .navbar-toggler {
        background-color: $background-color;
        border: 2px solid $font-color;

        .navbar-toggler-icon {
            background-color: $font-color;
        }
    }

    .logo-container {
        display: flex;
        align-items: center;
    }

    .navbar-logo {
        height: 70px;
        margin-right: 10px;
    }
}