@use "../general" as *;

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;

    a {
        display: inline-block;
        font-size: 24px;
        color: $font-color;
        opacity: 1;
        @include transition(transform, 0.3s);

        &:hover {
            transform: scale(1.2);
        }
    }
}