
/* Media queries para responsividad */

@media (max-width: 576px) {

    /* ---- responsive index ----*/
    .navbar-brand {
        font-size: 1.2rem;
    }

    .hero {
        padding: 20px; 
        text-align: center; 

        .hero-content {
            h1 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1rem;
            }

            .cta-button {
                padding: 10px 15px;
                font-size: 1rem;
            }
        }
    }

    .beneficios-grid {
        display: flex;
        flex-direction: column;

        .beneficio {
            margin-bottom: 1rem;
        }
    }

    .carousel-caption {
        h5 {
            font-size: 1rem;
        }
        p {
            font-size: 0.5rem;
        }
    }

    /* ---- responsive casamiento ----*/
    .grid-contenedor {
        h1 {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .invitaciones-bodas {
        display: flex;
        flex-direction: column;
        align-items: center;

        .card {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    /* ---- responsive cumpleaños ----*/
    main {
        h1 {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .invitaciones-cumple {
        display: flex;
        flex-direction: column;
        align-items: center;

        .invitacion {
            width: 100%;
            margin-bottom: 20px;
            text-align: center;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    /* ---- responsive comunion ----*/
    .invitaciones-comunion {
        display: flex;
        flex-direction: column;
        align-items: center;

        .invitacion-2 {
            width: 100%;
            margin-bottom: 20px;
            text-align: center;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    /* ---- responsive contacto ----*/
    .contacto-info {
        text-align: center;
    }

    .contacto-imagen {
        max-width: 90%;
        height: auto;
    }

    .contacto-details {
        padding: 0 15px;
    }

    .contacto-item {
        margin-bottom: 20px;

        p {
            display: flex;
            align-items: center;

            svg {
                margin-right: 10px;
            }
        }
    }
}