
/* Media queries para responsividad */

@media (max-width: 576px) {

    /* ---- responsive index ----*/
    .navbar-brand {
        font-size: 1.2rem;
        display: flex;
    }

    .hero {
        padding: 20px; 
        text-align: center; 

        .hero-content {
            h1 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1rem;
            }

            .cta-button {
                padding: 10px 15px;
                font-size: 1rem;
            }
        }
    }

    .beneficios {
        padding: 20px; 
        text-align: center; 

        .beneficios-grid {
            display: flex;
            flex-direction: column; 
            align-items: center; 

            .beneficio {
                max-width: 90%; 
                margin: 10px 0;
            }
        }
    }

    .carousel-section {
        padding: 20px; 
        text-align: center; 

        h2 {
            font-size: 1.5rem; 
        }

        .carousel-inner {
            .carousel-item {
                img {
                    max-width: 90%; 
                    height: auto; 
                }

                .carousel-caption {
                    h5 {
                        font-size: 1.2rem; 
                    }
                    p {
                        font-size: 1rem; 
                    }
                }
            }
        }
    }

    /* ---- responsive casamiento ----*/
    .grid-contenedor {
        h1 {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .invitaciones-bodas {
        display: flex;
        flex-direction: column;
        align-items: center;

        .card {
            width: 80%;
            margin-bottom: 20px;
        }
    }

    /* ---- responsive cumpleaños ----*/
    main {
        h1 {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .invitaciones-cumple {
        display: flex;
        flex-direction: column;
        align-items: center;

        .invitacion {
            width: 90%;
            margin-bottom: 20px;
            text-align: center;

            img {
                max-width: 90%;
                height: auto;
            }
        }
    }

    /* ---- responsive comunion ----*/
    .invitaciones-comunion {
        display: flex;
        flex-direction: column;
        align-items: center;

        .invitacion-2 {
            width: 90%;
            margin-bottom: 20px;
            text-align: center;

            img {
                max-width: 90%;
                height: auto;
            }
        }
    }

    /* ---- responsive contacto ----*/
    .contacto-info {
        padding: 20px;
        text-align: center;

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem; 
        }

        .contacto-imagen {
            max-width: 85%;
            height: auto;
        }
    }

    .contacto-details {
        padding: 0 15px;

        .contacto-item {
            margin-bottom: 20px;

            p {
                display: flex;
                align-items: center;

                svg {
                    margin-right: 10px;
                }
            }
        }
    }
}