@use "../general" as *;

body {
    margin: 0;
    padding: 0;
    background-color: $white-color;
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}