body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}